<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="books.css">
</head>
<body>
<div class="d1">
    <form action="./books" method="GET">
        <input type="text" name="book ID" placeholder="Искать здесь...">
        <button type="submit" title="Find">Поиск</button>
        <br>
        <a th:href="@{/showNewBookForm}">Add</a>
    </form>

</div>
<br>
<table cellspacing="0">
    <tr>
        <th th:text="#{book.bookID}"></th>
        <th th:text="#{book.UDC}"></th>
        <th th:text="#{book.authorID}"></th>
        <th th:text="#{book.creationYear}"></th>
        <th th:text="#{book.publisher}"></th>
        <th th:text="#{book.pageAmount}"></th>
        <th colspan="2">Actions</th>
    </tr>
    <th:block th:each="row : ${result1}">
        <tr onclick="">
            <td th:text="${row.bookID}" class="data">index</td>
            <td th:text="${row.UDC}"class="data"></td>
            <td th:text="${row.authorID}"class="data"></td>
            <td th:text="${row.creationYear}"class="data"></td>
            <td th:text="${row.publisher}"class="data"></td>
            <td th:text="${row.pageAmount}"class="data"></td>
            <td> <a th:href="@{/updateBookForm/{id}(id=${row.bookID})}" class="data">Update</a></td>
            <td> <a th:href="@{/deleteBook/{id}(id=${row.bookID})}"class="data">Delete</a></td>
        </tr>
    </th:block>
</table>

</body>
</html>